src/flows/BLP_Notify_User_for_Prework-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BLP_Send_Email_To_User</name>
        <label>BLP Send Email To User</label>
        <locationX>237</locationX>
        <locationY>409</locationY>
        <actionName>BLP_User_To_Course__c.BLP_Notify_User_For_Remaining_Prework_Postwork</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>BLP_Param_Valueuse_inEmail</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>710</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>NotCompletedPrePostWorkNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BLPPrePostWork.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BLP_Loop_Through_PrePostWork</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Empty</name>
        <label>Not Empty</label>
        <locationX>481</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>NotCompletedPrePostWorkNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotCompletedPrePostWorkNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BLPPrePostWork.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BLP_Loop_Through_PrePostWork</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_String</name>
        <label>Check String</label>
        <locationX>595</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>Not_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotCompletedPrePostWorkNames</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <description>This flow is initiated from process builder</description>
    <interviewLabel>BLP Notify User for Prework {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLP Notify User for Prework</label>
    <loops>
        <name>BLP_Loop_Through_PrePostWork</name>
        <label>BLP Loop Through PrePostWork</label>
        <locationX>230</locationX>
        <locationY>131</locationY>
        <assignNextValueToReference>BLPPrePostWork</assignNextValueToReference>
        <collectionReference>BLPPrePostWorkSet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_String</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Prework_not_completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BLP_Prework_Record_Status_Not_Completed</name>
        <label>BLP Prework Record Status Not Completed</label>
        <locationX>42</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BLP_Loop_Through_PrePostWork</targetReference>
        </connector>
        <filters>
            <field>BLP_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>BLP_User_To_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Param_UserToCourseId</elementReference>
            </value>
        </filters>
        <object>BLP_Prework_Postwork__c</object>
        <outputReference>BLPPrePostWorkSet</outputReference>
        <queriedFields>BLP_User_To_Course__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Prework_not_completed</name>
        <label>Update Prework not completed</label>
        <locationX>87</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>BLP_Send_Email_To_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Param_UserToCourseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BLP_Prework_Not_Completed__c</field>
            <value>
                <elementReference>NotCompletedPrePostWorkNames</elementReference>
            </value>
        </inputAssignments>
        <object>BLP_User_To_Course__c</object>
    </recordUpdates>
    <startElementReference>BLP_Prework_Record_Status_Not_Completed</startElementReference>
    <variables>
        <name>BLP_Param_Valueuse_inEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Param_UserToCourseId</elementReference>
        </value>
    </variables>
    <variables>
        <name>BLPPrePostWork</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BLP_Prework_Postwork__c</objectType>
    </variables>
    <variables>
        <name>BLPPrePostWorkSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BLP_Prework_Postwork__c</objectType>
    </variables>
    <variables>
        <name>BLPUserValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BLP_Prework_Postwork__c</objectType>
    </variables>
    <variables>
        <name>NotCompletedPrePostWorkNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>we will get this id from process builder &apos; BLP Notify User For Pending List of Prework Postwork&apos;.</description>
        <name>Param_UserToCourseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrePosWorkName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UserDetail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BLP_User_To_Course__c</objectType>
    </variables>
    <variables>
        <name>UserToCourse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BLP_User_To_Course__c</objectType>
    </variables>
</Flow>
