src/flows/BLP_Create_Prework_Postwork_Records-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>BLP_Initialize_Prework_Postwork</name>
        <label>BLP Initialize Prework Postwork</label>
        <locationX>489</locationX>
        <locationY>55</locationY>
        <assignmentItems>
            <assignToReference>BLP_Prework_Postwork_Obj.BLP_Format__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BLP_Prework_Postwork_TempVar.BLP_Format__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLP_Prework_Postwork_Obj.BLP_Link_to_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BLP_Prework_Postwork_TempVar.BLP_Link_to_Content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLP_Prework_Postwork_Obj.BLP_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLP_Prework_Postwork_Obj.BLP_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Param_DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLP_Prework_Postwork_Obj.BLP_User_To_Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Param_UserToCourseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLP_Prework_Postwork_Obj.BLP_Prework_Postwork_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BLP_Prework_Postwork_TempVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLP_Prework_Postwork_Obj.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BLP_Prework_Postwork_TempVar.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BLP_Prework_Postwork_Obj.BLP_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BLP_Prework_Postwork_TempVar.BLP_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BLP_Prework_Postwork_UpdateList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BLP_Prework_Postwork_UpdateList</name>
        <label>BLP_Prework_Postwork_UpdateList</label>
        <locationX>497</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>BLP_Update_Prework_Postwork_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BLP_Prework_Postwork_Obj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BLP_Iterate_Prework_Postwork_Detail</targetReference>
        </connector>
    </assignments>
    <description>This flow will be invoked from process builder &apos;BLP Populate Prework Postwork&apos;. Flow Contains logic to create new record for prework postwork which is copy from prework postwork template.</description>
    <interviewLabel>BLP Create Prework Postwork  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLP Create Prework Postwork Records</label>
    <loops>
        <name>BLP_Iterate_Prework_Postwork_Detail</name>
        <label>BLP_Iterate_Prework_Postwork_Detail</label>
        <locationX>263</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>BLP_Prework_Postwork_TempVar</assignNextValueToReference>
        <collectionReference>BLP_Prework_Postwork_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BLP_Initialize_Prework_Postwork</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BLP_CreateNew_Prework_Postwork</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>BLP_CreateNew_Prework_Postwork</name>
        <label>BLP_CreateNew_Prework_Postwork</label>
        <locationX>269</locationX>
        <locationY>213</locationY>
        <inputReference>BLP_Update_Prework_Postwork_List</inputReference>
    </recordCreates>
    <recordLookups>
        <name>BLP_Prework_Postwork_FastLookup</name>
        <label>BLP_Prework_Postwork_FastLookup</label>
        <locationX>53</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BLP_Iterate_Prework_Postwork_Detail</targetReference>
        </connector>
        <filters>
            <field>BLP_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Param_CourseId</elementReference>
            </value>
        </filters>
        <object>BLP_Prework_Postwork_Template__c</object>
        <outputReference>BLP_Prework_Postwork_List</outputReference>
        <queriedFields>BLP_Format__c</queriedFields>
        <queriedFields>BLP_Link_to_Content__c</queriedFields>
        <queriedFields>BLP_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>BLP_Type__c</queriedFields>
    </recordLookups>
    <startElementReference>BLP_Prework_Postwork_FastLookup</startElementReference>
    <variables>
        <name>BLP_Prework_Postwork_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BLP_Prework_Postwork_Template__c</objectType>
    </variables>
    <variables>
        <name>BLP_Prework_Postwork_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BLP_Prework_Postwork__c</objectType>
    </variables>
    <variables>
        <name>BLP_Prework_Postwork_TempList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BLP_Prework_Postwork__c</objectType>
    </variables>
    <variables>
        <name>BLP_Prework_Postwork_TempVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BLP_Prework_Postwork_Template__c</objectType>
    </variables>
    <variables>
        <name>BLP_Update_Prework_Postwork_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BLP_Prework_Postwork__c</objectType>
    </variables>
    <variables>
        <description>We will get courseId in this</description>
        <name>Param_CourseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>it will give is the total count of due date from user to course object</description>
        <name>Param_DueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>we will get user to course id in this</description>
        <name>Param_UserToCourseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
