src/flows/BLP_Send_Email_To_User_On_Training_Dates_Insert-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_User</name>
        <label>Send Email To User</label>
        <locationX>751</locationX>
        <locationY>363</locationY>
        <actionName>BLP_User_To_Course__c.BLP_Training_Dates_Added</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_Through_The_UserToCourseSet</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>UserToCourse.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Is_User_Registered_Without_Training_Date</name>
        <label>Is User Registered Without Training Date</label>
        <locationX>751</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_The_UserToCourseSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Registered Without Training Date</defaultConnectorLabel>
        <rules>
            <name>Registered_Without_Training_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserToCourse.BLP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered Without Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_User</targetReference>
            </connector>
            <label>Registered Without Training Date</label>
        </rules>
    </decisions>
    <interviewLabel>BLP Send Email To User On Addition Of New Training Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BLP Send Email To User On Training Dates Insert</label>
    <loops>
        <name>Loop_Through_The_UserToCourseSet</name>
        <label>Loop Through The UserToCourseSet</label>
        <locationX>481</locationX>
        <locationY>176</locationY>
        <assignNextValueToReference>UserToCourse</assignNextValueToReference>
        <collectionReference>UserToCourseSet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_User_Registered_Without_Training_Date</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_To_Course_From_Courses</name>
        <label>Get User To Course From Courses</label>
        <locationX>479</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_The_UserToCourseSet</targetReference>
        </connector>
        <filters>
            <field>BLP_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrainingDate.BLP_Course__c</elementReference>
            </value>
        </filters>
        <object>BLP_User_To_Course__c</object>
        <outputReference>UserToCourseSet</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BLP_Status__c</queriedFields>
        <queriedFields>BLP_User__c</queriedFields>
        <queriedFields>BLP_Email__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_User_To_Course_From_Courses</startElementReference>
    <variables>
        <name>TrainingDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BLP_Training_Dates__c</objectType>
    </variables>
    <variables>
        <name>UserToCourse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BLP_User_To_Course__c</objectType>
    </variables>
    <variables>
        <name>UserToCourseSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BLP_User_To_Course__c</objectType>
    </variables>
</Flow>
