src/flows/BLP_Update_Max_Capicity-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Status Change</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(
NOT(ISNULL([BLP_User_To_Course__c].BLP_Training_Dates__c.BLP_Number_of_Attendees_Registered__c)),[BLP_User_To_Course__c].BLP_Training_Dates__c.BLP_Number_of_Attendees_Registered__c + 1, 
1 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_BLP_Number_of_Attendees_Registered_c</name>
        <dataType>Number</dataType>
        <expression>IF(
NOT(ISNULL({!myVariable_current.BLP_Training_Dates__c.BLP_Number_of_Attendees_Registered__c})),{!myVariable_current.BLP_Training_Dates__c.BLP_Number_of_Attendees_Registered__c} + 1, 
1 
)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> OR(PRIORVALUE([BLP_User_To_Course__c].BLP_Status__c) ==  &apos;Registered Without Date&apos; 
&amp;&amp;  
ISPICKVAL([BLP_User_To_Course__c].BLP_Status__c, &apos;Registered&apos;),
PRIORVALUE([BLP_User_To_Course__c].BLP_Status__c) ==  &apos;Removed&apos; &amp;&amp;  ISPICKVAL([BLP_User_To_Course__c].BLP_Status__c, &apos;Registered&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(PRIORVALUE({!myVariable_current.BLP_Status__c}) ==  &apos;Registered Without Date&apos; 
&amp;&amp;  
ISPICKVAL({!myVariable_current.BLP_Status__c}, &apos;Registered&apos;),
PRIORVALUE({!myVariable_current.BLP_Status__c}) ==  &apos;Removed&apos; &amp;&amp;  ISPICKVAL({!myVariable_current.BLP_Status__c}, &apos;Registered&apos;)
)</expression>
    </formulas>
    <interviewLabel>BLP_Update_Max_Capicity-2_BLP_User_To_Course__c</interviewLabel>
    <label>BLP Update Max Capicity</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>BLP_User_To_Course__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BLP_User_To_Course__c].Training Dates</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Number</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.BLP_Training_Dates__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Number of Attendees Registered</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BLP_Number_of_Attendees_Registered__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_BLP_Number_of_Attendees_Registered_c</elementReference>
            </value>
        </inputAssignments>
        <object>BLP_Training_Dates__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BLP_User_To_Course__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BLP_User_To_Course__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
